.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url("../img/services_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__learn {
    @include flex-all-center;
  }

  &__subtitle {
    margin: 0;
    margin-right: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--ebony-color);
  }

  &__list {
    margin-bottom: 80px;
  }
}

.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services-item {
  position: relative;
  display: block;
  padding: 85px 10px 90px 10px;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 80px 80px -20px rgba(154, 156, 165, 0.08);
  background: var(--light-color);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: inherit;
    background-image: url("../img/services_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--ebony-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    border-radius: inherit;
    background-color: rgba(#1e212c, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 25px;
    width: 52px;
    height: 52px;
    fill: var(--primary-color);
    object-fit: cover;
    transition: fill 0.3s ease-in-out;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--ebony-color);
    transition: color 0.3s ease-in-out;
  }

  &--construct {
    &::before {
      background-image: url("../img/services_1.jpg");
    }
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }

    .services-item__icon {
      fill: var(--light-color);
    }

    .services-item__title {
      color: var(--light-color);
    }
  }
}
